
<ng-container *ngIf="true">
  <div class="card-table">
    <div class="cart-product">
      <div class="table table-responsive">
        <table>
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th class="des">Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>ffnghkymk</td>
              <td>nyukyyuu</td>
              <td>fynkultui</td>
              <td>uiltulu</td>
              <td>gilitul</td>
              <td>ghty</td>
              <td>

                <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>




<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">

      <h4>Your cart is empty!</h4>
      <h6>add item to it now</h6>
      <button class="btn btn-primary">Shop Now</button>
    </div>
  </div>

</ng-container>
