<div class="container">
  <div class="banner">
    <a routerLink=""><img src="assets/banner/2.png"></a>
  </div>
</div>

<div class="category-header">
  <h4>CATEGORIES</h4>
  <!-- <div class="cat-name">CATEGORIES</div> -->
  <div class="cateroies-header">
    <div class="categories">
      <div class="banner1" *ngFor="let item of pro">
        <a routerLink="">  <img src="{{item.img}}"></a>
      </div>
    </div>
    <div class="categories">
      <div class="banner1" *ngFor="let item of pro">
        <a routerLink="">  <img src="{{item.img1}}"></a>
      </div>
    </div>
  </div>
</div>

<div class="cat-head-bgcolor">
<div class="category-header">
  <h4>BEST OF BRAND</h4>
  <div class="cateroies-header">
    <div class="categories">
      <div class="banner1" *ngFor="let item of pro">
        <a routerLink="">  <img src="{{item.img2}}"></a>
      </div>
    </div>
  </div>
</div>
</div>




